<div class="jumbtron text-center">
  <div id="header_title">
    <h1 class="display-4  w-100">Money<b>X</b>changE</h1>
    <br>
    <p>Here you can find a Currency Converter. Just enter the initial value, click on CALCULATE button,
      and it will convert the money. </p>
  </div>  
  <div class="row">
    <app-conversion id="container"></app-conversion>
  </div> 
  <footer><br>
    <p id="myFooter" class="text-center">Developed by <a href="https://github.com/Jefffer">Jefffer</a></p>
    <hr>
    <p id="myFooter" class="text-center">BELATRIX TEST</p>
    <hr>
  </footer>
</div>