/* You can add global styles to this file, and also import other style files */
.form-group>input{
    font-weight: bolder;
}
.form-group>label{
    font-weight: lighter;
}

button[type="submit"]{
    background-color: #67dfd4;
    color: #fff;

}
.jumbotron{
    background-color: #fff;
    padding-top: 32px;
}

table tr:hover{
    cursor: pointer;
}

input.ng-touched.ng-invalid{
    border-color: #dc3545;
}
div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

/* Container */
.container {
    max-width: 100%;
    padding: 0;
}
#header_title {
    padding: 70px 0 40px 0;
    border-style: solid;
    border-color: #a9a9a9;
    border-width: 0 0 1px 0;    
}
#header_title > h1{
    font-variant: small-caps;
    letter-spacing: 0.1em;
}
#container {
    width: 100%;
    background-color: #efefef;
    border-style: solid;
    border-color: #d2d2d2;
    border-width: 4px 0 4px 0;
    padding: 50px 0 20px 0;
}
.label_currency {
    margin-left: 11%;
}
.label_currency > input {
    background-color: #fff!important;
}
#btn_calculate {
    width: 30%;
    letter-spacing: 2px;
}
#myFooter {
    letter-spacing: 1px;
    font-variant: small-caps;
    /* font-weight: bold; */
}
footer {
    margin-top: 5%;
    background-color: #efefef;
    border-style: solid;
    border-color: #d2d2d2;
    border-width: 4px 0 0 0;
}